<h3 class="card-title">Create a New Post:</h3>
<div class='post card'>
    <div class="card-body">
    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Title</label>
        <label for="post"></label>
        <textarea class="form-control" id="postContent" rows="10" placeholder="Enter your recipe"></textarea>
      </div>
      <button type="submit" id="postButton" class="btn btn-primary">Post Recipe</button>
    </form>
  </div>
        </form>
    </div>
</div>
<script src="/js/newpost.js"></script>